parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeParentInterface\\:\\:end\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Method Leapt\\\\ImBundle\\\\Doctrine\\\\Mapping\\\\Mogrify\\:\\:__construct\\(\\) has parameter \\$params with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Doctrine/Mapping/Mogrify.php

		-
			message: "#^Cannot access property \\$name on ReflectionProperty\\|string\\.$#"
			count: 1
			path: src/Listener/MogrifySubscriber.php

		-
			message: "#^Method Leapt\\\\ImBundle\\\\Listener\\\\MogrifySubscriber\\:\\:getFiles\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Listener/MogrifySubscriber.php

		-
			message: "#^Parameter \\#1 \\$format of method Leapt\\\\ImBundle\\\\Manager\\:\\:mogrify\\(\\) expects array\\|string, ReflectionProperty\\|string given\\.$#"
			count: 1
			path: src/Listener/MogrifySubscriber.php

		-
			message: "#^Property Leapt\\\\ImBundle\\\\Listener\\\\MogrifySubscriber\\:\\:\\$config type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Listener/MogrifySubscriber.php

		-
			message: "#^Method Leapt\\\\ImBundle\\\\Manager\\:\\:__construct\\(\\) has parameter \\$formats with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Manager.php

		-
			message: "#^Method Leapt\\\\ImBundle\\\\Manager\\:\\:convert\\(\\) has parameter \\$format with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Manager.php

		-
			message: "#^Method Leapt\\\\ImBundle\\\\Manager\\:\\:getCacheContent\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: src/Manager.php

		-
			message: "#^Method Leapt\\\\ImBundle\\\\Manager\\:\\:mogrify\\(\\) has parameter \\$format with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Manager.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int\\|null, int\\<0, max\\>\\|false given\\.$#"
			count: 1
			path: src/Manager.php

		-
			message: "#^Method Leapt\\\\ImBundle\\\\Tests\\\\LeaptImTestingKernel\\:\\:configureContainer\\(\\) is unused\\.$#"
			count: 1
			path: tests/LeaptImTestingKernel.php

		-
			message: "#^Method Leapt\\\\ImBundle\\\\Tests\\\\LeaptImTestingKernel\\:\\:configureRoutes\\(\\) is unused\\.$#"
			count: 1
			path: tests/LeaptImTestingKernel.php

		-
			message: "#^Property Leapt\\\\ImBundle\\\\Tests\\\\ManagerTest\\:\\:\\$root is never read, only written\\.$#"
			count: 1
			path: tests/ManagerTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 3
			path: tests/ManagerTest.php

		-
			message: "#^Method Leapt\\\\ImBundle\\\\Tests\\\\Mock\\\\Process\\:\\:run\\(\\) overrides @final method Symfony\\\\Component\\\\Process\\\\Process\\:\\:run\\(\\)\\.$#"
			count: 1
			path: tests/Mock/Process.php

