<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
    <php>
        <env name="KERNEL_CLASS" value="Leapt\ImBundle\Tests\LeaptImTestingKernel" />
    </php>

    <testsuites>
        <testsuite name="Leapt ImBundle Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <coverage/>

    <source>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>
</phpunit>
